header img {
  float: right;
}

h1 {
  text-align: center;
  margin-left: 15%;
  margin-bottom: 10%;
}

h1, h2, {
  font-family: Knewave;
  color: #47525E;
}

h5 {
  color: #F8EA19;
}

p, li, footer {
  font-family: Roboto;
}

footer img {
  background-color: #F8EA19;
}

.container {
  padding-top: 5%;
}
